<main class="bg-[#0d1117] w-full p-6 min-h-screen">
  <h1 class="text-center text-4xl font-bold my-8 text-white">
    Find Your Dream Job
  </h1>

  <!-- Search Filter -->
  <div class="flex justify-center mb-6">
    <input
      id="job-search"
      type="text"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange()"
      placeholder="Search by title, company, or skill..."
      class="w-2xl border border-gray-700 text-gray-400 bg-[#161b22] rounded-4xl px-6 py-4 focus:text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-200"
    />
  </div>

  <!-- No Jobs Found -->
  <div
    *ngIf="filteredJobs().length === 0"
    class="text-center text-gray-400 py-10 text-2xl font-semibold"
  >
    No jobs found
  </div>

  <!-- Jobs Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <app-job-card
      *ngFor="let job of paginatedJobs(); trackBy: trackByJobUrl"
      [job]="job"
      (expand)="openJobModal($event)"
    ></app-job-card>
  </div>

  <!-- Pagination -->
  <div class="flex justify-center items-center mt-8 gap-2 text-white">
    <button
      (click)="prevPage()"
      [disabled]="currentPage === 1"
      class="px-4 py-2 font-semibold bg-blue-600 hover:bg-blue-700 active:bg-blue-800 text-white rounded-md disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer"
    >
      Prev
    </button>
    <span class="px-3 py-1">{{ currentPage }} / {{ totalPages() }}</span>
    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages()"
      class="px-4 py-2 font-semibold bg-blue-600 hover:bg-blue-700 active:bg-blue-800 text-white rounded-md disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer"
    >
      Next
    </button>
  </div>

  <!-- Job Modal -->
  <app-job-modal
    *ngIf="selectedJob"
    [job]="selectedJob"
    (close)="closeJobModal()"
  ></app-job-modal>
</main>
