/* All links except the logo */
.nav-link {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: white;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* Logo */
.navbar-logo {
  cursor: pointer;
  font-family: "Blankscript", sans-serif;
}

/* Mobile Menu */
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #1f1f1f;
  padding: 1rem;
}
