<main class="w-full p-6 bg-[#0d1117] min-h-screen">
  <h1 class="text-center text-4xl font-bold mb-6 text-white">Latest Jobs</h1>

  <!-- Search Filter -->
  <div class="flex justify-center mb-6">
    <input
      id="job-search"
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search by title, company, or skill..."
      class="w-2xl border border-gray-700 text-gray-400 bg-[#161b22] rounded-4xl px-6 py-4 focus:text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-200"
    />
  </div>

  <!-- No Jobs Found -->
  <div
    *ngIf="filteredJobs().length === 0"
    class="text-center text-gray-400 py-10 text-2xl font-semibold"
  >
    No jobs found
  </div>

  <!-- Jobs Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <div
      id="job-card"
      *ngFor="let job of paginatedJobs()"
      class="flex flex-col bg-[#161b22] border border-gray-700 shadow-md rounded-xl p-5 hover:shadow-lg transition text-white h-full transform duration-200 ease-in-out hover:scale-105"
    >
      <!-- Info -->
      <div id="job-info" class="flex flex-col flex-grow mb-6">
        <!-- Header -->
        <div id="job-header">
          <h3 class="text-lg font-bold line-clamp-1">{{ job.title }}</h3>
          <p class="text-gray-400 line-clamp-1">
            {{ job.company }} - {{ job.location }}
          </p>
        </div>

        <!-- Skills -->
        <div
          id="job-skills"
          class="flex gap-1 my-3 overflow-hidden whitespace-nowrap"
        >
          <span
            *ngFor="let skill of job.skills.split(', ').slice(0, 3)"
            class="bg-[#0d1117] text-gray-200 text-sm px-3 py-1 rounded-lg border border-gray-700 hover:bg-gray-700 transition cursor-default"
          >
            {{ skill }}
          </span>
          <span
            *ngIf="job.skills.split(', ').length > 3"
            class="text-gray-400 text-xs px-2 py-1"
          >
            +{{ job.skills.split(", ").length - 3 }}
          </span>
        </div>

        <!-- Description -->
        <div id="job-description" class="flex-grow overflow-hidden">
          <p class="text-gray-300 text-sm line-clamp-4">
            {{ job.description }}
          </p>
        </div>
        <!-- Date Posted with expand -->
        <div id="job-footer" class="flex justify-between items-center mt-2">
          <button
            class="text-sm text-blue-400 hover:underline transition cursor-pointer"
            (click)="openJobModal(job)"
          >
            Expand
          </button>
          <p class="text-xs text-gray-400">
            Posted on {{ job.datePosted | date }}
          </p>
        </div>
      </div>

      <!-- Buttons -->
      <div id="job-buttons">
        <a
          [href]="job.url"
          target="_blank"
          class="mt-3 block w-full text-center font-semibold text-white px-3 py-2 rounded-md bg-blue-600 hover:bg-blue-700 transition"
        >
          View Job
        </a>

        <button
          class="mt-3 block w-full font-semibold px-3 py-2 rounded-md bg-blue-600 hover:bg-blue-700 transition"
        >
          Save
        </button>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="flex justify-center items-center mt-8 gap-2 text-white">
    <button
      (click)="prevPage()"
      [disabled]="currentPage === 1"
      class="px-4 py-2 font-semibold bg-blue-600 text-white hover:bg-blue-700 rounded-md disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer"
    >
      Prev
    </button>

    <span class="px-3 py-1">{{ currentPage }} / {{ totalPages() }}</span>

    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages()"
      class="px-4 py-2 font-semibold bg-blue-600 text-white hover:bg-blue-700 rounded-md disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer"
    >
      Next
    </button>
  </div>
  <!-- Job Modal -->
  <app-job-modal
    *ngIf="selectedJob"
    [job]="selectedJob"
    (close)="closeJobModal()"
  ></app-job-modal>
</main>
